{% extends 'layout.html' %}
{% block content %}
<h2>Tárgykör</h2>

<div>
Elemi, ismeretterjesztő és tudományos cikkek a matematika, fizika és informatika területéről. Az évenként megjelenő kötet ezek kombinációinak megfelelően 9 füzetből áll. Az egyes füzetek tématerülete, jellege a következőkben foglalható össze. 
</div>

<ul>
    <li>Elemi matematika: </li>
    <li>Ismeretterjesztő matematika: </li>
    <li>Tudományos matematika: </li>
    <li>Elemi fizika: </li>
    <li>Ismeretterjesztő fizika: </li>
    <li>Tudományos fizika: </li>
    <li>Elemi informatika: </li>
    <li>Ismeretterjesztő informatika: </li>
    <li>Tudományos informatika: </li>
</ul>

<h2>Cikkek nyelve</h2>

<div>
Magyar és angol nyelven is van lehetőség cikket benyújtani és megjelentetni. 
</div>
{% endblock %}
