<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JMathPI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Pi Mathematical, Physical and Informatical Journal</h1>
    <div style="float: right; margin-right: 40px;">
        <img src="/static/Flag_of_Hungary.svg" width=40px height=20px />
        <img src="/static/English_language.svg" width=40px height=20px />
    </div>
    <div class="menu">
        <a href="{{ url_for('home') }}">
            <div class="logo">
            </div>
        </a>
        <ul>
            {% for name, label in menu_items %}
            <li>
                {% if request.endpoint == name %}
                {{ label }}
                {% else %}
                <a href="{{ url_for(name) }}">{{ label }}</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>

